.register{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    background-color: #aedec8;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
.form input{
    border: none;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 80%;
}
.form input:focus{
    outline: none;
}
.reg-btn{
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
    margin-right:20px ;
}
.reg-btn:hover{
    background-color: rgba(255, 255, 255, 0.795);
}
.reg-link{
    color: black;
    text-decoration: none;
}
.reg-link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .reg-btn{
        width: 100%;
    }
    .form{
        height: 40%;
    }
}
@media screen and (max-width: 700px) {
    .form{
        width: 70%;
    }
    .reg-btn{
        width: auto;
    }
}